.khung{
 		width: 100%;
 		height: 2000px;
 		margin: 0 auto;	
}
/*--------------truong.........*/
/*---------------hien------------*/
/*------------luong---------*/
/*----------------hieu-------------*/
